<!-- Generated template for the MyHeaderComponent component -->
<ion-header class="my-header">
  <ion-navbar hideBackButton="false" color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title><img alt="logo" width="123" height="43" src="/assets/imgs/ionic-logo-white.svg" ></ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-badge color="danger">0</ion-badge>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>